# data this repo will generate
/tmp
/*.xlsx

# vscode, pycharm, python, office, etc.
.idea
.vscode
__pycache__
~$*
.DS_Store

# you may need these as directory names
# add more as you like
/hw*
/lab*
/homework*
/more_diff

# test example
!/lab-example
/lab-example/*
!/lab-example/raw
!/lab-example/testcase
